body {
  font-family: 'ojuju', sans-serif;
}
input::placeholder {
  font-family: inherit;
  color: #999; /* Set placeholder text color */
  font-style: italic; /* Set placeholder text style */
}

.Container{
  width: 100%;
  height: 800px;
  background-color: rgb(131, 81, 81);
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;
  font-family: 'ojuju', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style:italic;
}

.label-container { display: block; }
input { margin: 9px; }
